root = true

[*.cs]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

dotnet_diagnostic.CA1816.severity = silent # GC.SuppressFinalize() outside of Dispose()
dotnet_diagnostic.IDE0001.severity = suggestion # name can be simplified
dotnet_diagnostic.IDE0002.severity = suggestion # name can be simplified
dotnet_diagnostic.IDE0004.severity = suggestion # Cast is redundant
dotnet_diagnostic.IDE0005.severity = suggestion # remove unused using
dotnet_diagnostic.IDE0047.severity = suggestion # Parentheses can be removed
dotnet_diagnostic.IDE0060.severity = silent # Remove unused parameter
dotnet_diagnostic.IDE0230.severity = silent # Use UTF-8 string literal

[*.yml]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
